BOT_CREDENTIALS=bot_passwd
ADMIN_CREDENTIALS=admin
GAME_GLOBAL_START_T=2022-10-20T00:09:36.150Z
GAME_GLOBAL_END_T=2025-10-20T00:09:36.150Z

#setting database login for local debugging
#schema: postgresql://username:password@host/database
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1/postgres
