BOT_CREDENTIALS=bot_passwd
ADMIN_CREDENTIALS=admin

#works in docker only, sets connection paramteters on backend, and in postgres container
POSTGRESQL_PASSWORD=postgres_passwd

PROBLEMS_S3_REGION=eu-north-1 # optional, defaults to 'eu-north-1'
PROBLEMS_S3_KEY_ID=
PROBLEMS_S3_SECRET_KEY=
PROBLEMS_S3_BUCKET_NAME=